.homeFullSong{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffff;
}
.song{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid rgb(243, 240, 240);
    margin: 3px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.song img{
    height: 50px;
    width: 50px;
    border-radius: 50%;

}
.songNamePlay{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.songNamePlay span{
    font-size: 14px;
    font-weight: 550;
}
#singerName{
    font-size: 11px;
}
.song audio{
    width: 48%;
    /* margin-left: 4%; */
    height: 6vh;
    position: absolute;
    right: 1px;
}
.fullViewSong{
    height: 91vh;
    width: 100%;
    background-color: #3333;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#333;
}
.fullViewSong img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid rgb(62 61 61);
    position: absolute;
    top: 120px;
}
.songNamePlayFullView{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.songNamePlayFullView span{
    font-size: 20px;
    font-weight: 700;
    color: orange;
    position: absolute;
    top: 280px;
}
#singerNameFullView{
    font-size: 15px;
    font-weight: 550;
    position: absolute;
    top: 300px;
}
.fullViewSong audio{
    position: fixed;
    bottom: 45px;
    height: 6vh;
}
.fullViewSong i{
    font-size: 30px;
    color: red;
    position: absolute;
    top: 10px;
    right: 15px;
}